@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p id="text-darkmode">
    Please be careful, this is a school project and he might be published on github.
    <br />
    None of your data will be used by the owner of the project.

</p>
